* {
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;
}
.main__backgroundimage {
  position: absolute;
  width: 100%;
}
.main__name {
  position: absolute;
  font-size: 40px;
  right: 50px;
  top: 170px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -520px linear-gradient(transparent, rgba(255, 255, 255, 0.4));
}
.main__TS {
  position: absolute;
  font-size: 45px;
  right: 40px;
  top: 220px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -420px linear-gradient(transparent, rgba(255, 255, 255, 0.3));
}
.main__developer {
  position: absolute;
  font-size: 40px;
  right: 45px;
  top: 270px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -320px linear-gradient(transparent, rgba(255, 255, 255, 0.4));
}

.nav {
  position: relative;
  top: 732px;
  background-color: #A9D0C9;
  width: 100%;
  height: 60px;
}
.nav__about {
  display: flex;
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.nav__menu {
  position: absolute;
  font-size: 35px;
  right: 40px;
  top: 10px;
}

.about-main {
  position: relative;
  display: flex;
  height: 300px;
  width: 100%;
  top: 732px;
}
.about-main__about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}