@import "./scss/layouts/nav";
@import "./scss/abstracts/variables";
@import "./scss/layouts/projects";
@import "./scss/layouts/contact";
@import "./scss/layouts/about";


* {
  padding: 0px;
  margin: 0px;
}

.main {
  min-height: 650px;

  .background-image {
    position: absolute;
    width: 1400px;
    height: 650px;
    background-position: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &__name-heading {
    position: absolute;
    font-size: 36px;
    right: 30px;
    top: 170px;
    font-weight: bold;
    font-family: $primary-font;
    color: $primary-color;
  }

  &__trainee-software-heading {
    position: absolute;
    font-size: 36px;
    right: 30px;
    top: 220px;
    font-weight: bold;
    font-family: $primary-font;
    color: $primary-color;
  }

  &__developer {
    position: absolute;
    font-size: 36px;
    right: 30px;
    top: 270px;
    font-weight: bold;
    font-family: $primary-font;
    color: $primary-color;
  }
}

@media screen and (min-width: 768px) {
  .main {
    
    &__name-heading {
      font-size: 50px;
    }

    &__trainee-software-heading {
      font-size: 50px;
    }

    &__developer {
      font-size: 50px;
    }
  }

  .sectionC {
    min-height: 630px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
   
      #mugshot {
        display: none;
      }
    
      &__form {
        background-color: black;
        // display: grid;
        width: 280px;
        height: 300px;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding: 20px;
        border-radius: 20px;
        font-family: $primary-font;
        box-shadow: 1px 1px 1px 1px ;
        display: flex;
        flex-direction: column;
        color: $primary-color;
      }
      
        .inputbox {
          width: 200px;
        }
  
        button:hover {
          cursor: pointer;
        }
      
    .contact-icons {
      font-size: 50px;
      gap: 30px
    }
  
    .contact-icons:hover {
      transform: scale(1.9);
      cursor: pointer;
    }
  
      #linkedin-img:visited {
        color: black;
    }
  } 
} 

@media screen and (min-width: 1048px) {
  .main {
    
    &__name-heading {
      font-size: 60px;
    }

    &__trainee-software-heading {
      font-size: 60px;
      top: 230px;
    }

    &__developer {
      font-size: 60px;
      top: 290px;
    }
  }

  .sectionA {

    &__main {
      display: flex;
      font-size: 25px;
    }

    &__main-bio {
      margin: 55px 0 0 50px;
      width: 650px;
      height: 300px;
    }

    &__TS {
      margin-top: 30px;
      width: 300px;
      height: 300px;
      align-items: center;
      justify-items: center;
    }

    &__TSIMG { 
      font-size: 60px;
      height: 70px;
    }

    #techstack-header {
      font-size: 40px;
    }
  }

  .sectionB {

    &__projects {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .sectionC {

    #mugshot {
      display: flex;
      flex-direction: row;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      box-shadow: 10px 10px 30px black;
    }
  }
}


 