   
// Colors

$primary-color: white;
$secondary-color: #A9D0C9;

// Font

$priamry-font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

* {
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;

  &__backgroundimage {
    position: absolute;
    height: auto;
    width: 100%;
  }

  &__menu {
    font-size: 50px;
  }

  &__name {
    // use mixinpanel to reduce code as majority is repeated in name, ts and dev
    position: absolute;
    font-size: 45px;
    right: 45px;
    top: 170px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -520px linear-gradient(transparent, rgb(255, 255, 255, 0.4));
  }

  &__TS {
    position: absolute;
    font-size: 45px;
    right: 45px;
    top: 220px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -420px linear-gradient(transparent, rgb(255, 255, 255, 0.3));
  }

  &__developer {
    position: absolute;
    font-size: 45px;
    right: 45px;
    top: 270px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -320px linear-gradient(transparent, rgb(255, 255, 255, 0.4));
  }
}



// Old layout - revert back if new method dont work
// .nav {
//     display: flex;
//     justify-content: flex-end;
//     position: absolute;
//     right: 25px;

//     &__navlist {
//       display: none;
//     }
// }

// .fa-bars{
//   margin-top: 20px;
//   font-size: 40px;
// }

// .main {
//   &__backgroundimage {
//     width: 100%;
//     height: auto;
//   }

//   &__name {
//     position: absolute;
//   }
// }
