   
// Colors

$primary-color: #F0FFFC;
$secondary-color: #A9D0C9;

// Font

$priamry-font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

* {
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;

  &__backgroundimage {
    position: absolute;
    width: 100%;
  }

  &__name {
    // use mixinpanel to reduce code as majority is repeated in name, ts and dev
    position: absolute;
    font-size: 45px;
    right: 40px;
    top: 170px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -520px linear-gradient(transparent, rgb(255, 255, 255, 0.4));
  }

  &__TS {
    position: absolute;
    font-size: 45px;
    right: 40px;
    top: 220px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -420px linear-gradient(transparent, rgb(255, 255, 255, 0.3));
  }

  &__developer {
    position: absolute;
    font-size: 40px;
    right: 45px;
    top: 270px;
    font-weight: bold;
    font-family: $priamry-font;
    -webkit-box-reflect: above -320px linear-gradient(transparent, rgb(255, 255, 255, 0.4));
  }
}

.nav1 {
  position: relative;
  // display: flex;
  // justify-content: space-between;
  top: 732px;
  background-color: $secondary-color;
  width: 100%;
  height: 60px;



  &__about {
    display: flex;
    position: absolute;
    // align-items: flex-start;
    font-family: $priamry-font;
    font-weight: bold;
    font-size: 50px;
    // background-color: $secondary-color;
    // width: 550px;
  }

  &__menu {
    position: absolute;
    font-size: 35px;
    right: 40px;
    top: 10px
  }
}

.about-main {
  position: relative;
  display: flex;
  // border: 1px solid black;
  height: 300px;
  width: 100%;
  top: 732px;

  &__about {
    // flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
  }
}

// .TechS {
//   position: relative;
//   top: 400px;
//   right: 300px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
//   &__GIT {
//     position: absolute;
//   }

//   &__JS {
//     position: absolute;    
//   }

//   &__SASS {
//     position: absolute;
//   }

//   &__JAVA {
//     position: absolute;
//   }
// 





  // &__fas {
  //   // display: flex;
  //   position: absolute;
  //   font-size: 80px;
  //   margin: 80px;
  //   top: 80px;
  //   // align-items: flex-end;
  //   // align-items: flex-end;
  //   // justify-content: center;
  // }

// .fa-bars {
//   display: flex;
//   display: flex-end;
//   font-size: 30px;
//   left: 40px;
// }




// Old layout - revert back if new method dont work
// .nav {
//     display: flex;
//     justify-content: flex-end;
//     position: absolute;
//     right: 25px;

//     &__navlist {
//       display: none;
//     }
// }

// .fa-bars{
//   margin-top: 20px;
//   font-size: 40px;
// }

// .main {
//   &__backgroundimage {
//     width: 100%;
//     height: auto;
//   }

//   &__name {
//     position: absolute;
//   }
// }