.main__menu {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 15px;
  color: #F0FFFC;
}

.main .nav {
  display: none;
}

.sectionA__nav {
  position: relative;
  background-color: black;
  width: 100%;
  height: 60px;
}

.sectionA__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.sectionA__nav-links {
  display: none;
}

.sectionA__nav-items:visited {
  text-decoration: none;
}

.sectionA__navmenu {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  color: #F0FFFC;
}

.sectionB__nav {
  position: relative;
  background-color: black;
  width: 100%;
  height: 60px;
}

.sectionB__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #F0FFFC;
}

.sectionB__navmenu {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  color: #F0FFFC;
}

.sectionC__nav {
  position: relative;
  background-color: black;
  width: 100%;
  height: 60px;
}

.sectionC__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #F0FFFC;
}

.sectionC__navmenu {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  color: #F0FFFC;
}

@media screen and (min-width: 768px) {
  .main__menu {
    display: none;
    color: transparent;
  }
  .main .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: transparent;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-decoration: none;
  }
  .main .nav__item {
    font-size: 16px;
    margin: 0 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  .main .nav a {
    text-decoration: none;
  }
  .sectionA__menu-icon {
    display: none;
  }
  .sectionA__nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    padding-top: 20px;
    gap: 60px;
    color: white;
  }
  .sectionA__nav-items {
    text-decoration: none;
    font-size: 16px;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #F0FFFC;
  }
  .sectionA__nav-items:visited {
    color: #F0FFFC;
  }
  .sectionB__menu-icon {
    display: none;
  }
  .sectionC__menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1048px) {
  .sectionB__menu-icon {
    display: none;
  }
  .sectionC__menu-icon {
    display: none;
  }
}

.sectionB__projects {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  text-align: center;
  color: black;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sectionB__projectsimg {
  width: 300px;
  height: 200px;
}

@media screen and (min-width: 840px) {
  .sectionB__projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1048px) {
  .sectionB__projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.sectionC {
  min-height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionC #mugshot {
  display: none;
}

.sectionC__form {
  background-color: black;
  width: 280px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-shadow: 1px 1px 1px 1px;
          box-shadow: 1px 1px 1px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F0FFFC;
  gap: 5px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sectionC .inputbox {
  width: 200px;
}

.sectionC button:hover {
  cursor: pointer;
}

.sectionC .contact-icons {
  margin-top: 20px;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.sectionC .contact-icons:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.sectionC #linkedin-img:visited {
  color: black;
}

@media screen and (min-width: 768px) {
  .sectionC .contact-icons {
    font-size: 55px;
    gap: 30px;
  }
  .sectionC .contact-icons:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
  }
  .sectionC #linkedin-img:visited {
    color: black;
  }
}

@media screen and (min-width: 1048px) {
  .sectionC #mugshot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 30px black;
            box-shadow: 10px 10px 30px black;
  }
}

.sectionA {
  min-height: 600px;
}

.sectionA__main {
  text-align: justify;
  margin: 25px;
  font-size: 17px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sectionA__mainimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  height: 120px;
  width: 120px;
}

.sectionA__TSTitle {
  margin: 15px;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

.sectionA__TS {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a a" "b c d" "e f g";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  gap: 20px;
}

.sectionA #techstack-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.sectionA #git-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.sectionA #js-img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.sectionA #sass-img {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

.sectionA #java-img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: e;
}

.sectionA #jquery-img {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: f;
}

.sectionA #nodejs-img {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: g;
}

.sectionA__TSIMG {
  border: solid 2px black;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px #282a2d;
          box-shadow: 0 0 5px 2px #282a2d;
}

.sectionA__TSIMG:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .sectionA__main {
    font-size: 21px;
  }
}

@media screen and (min-width: 1048px) {
  .sectionA__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
  }
  .sectionA__main-bio {
    margin: 55px 0 0 50px;
    width: 650px;
    height: 300px;
  }
  .sectionA__TS {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .sectionA__TSIMG {
    font-size: 60px;
    height: 70px;
  }
  .sectionA #techstack-header {
    font-size: 40px;
  }
}

.main {
  min-height: 650px;
}

.main .background-image {
  position: absolute;
  width: 1400px;
  height: 650px;
  background-position: no-repeat;
  background-size: cover;
  z-index: -1;
}

.main__name-heading {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 170px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #F0FFFC;
}

.main__trainee-software-heading {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 220px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #F0FFFC;
}

.main__developer {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 270px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #F0FFFC;
}

@media screen and (min-width: 768px) {
  .main__name-heading {
    font-size: 50px;
  }
  .main__trainee-software-heading {
    font-size: 50px;
  }
  .main__developer {
    font-size: 50px;
  }
}

@media screen and (min-width: 1048px) {
  .main__name-heading {
    font-size: 60px;
  }
  .main__trainee-software-heading {
    font-size: 60px;
    top: 230px;
  }
  .main__developer {
    font-size: 60px;
    top: 290px;
  }
}

* {
  padding: 0px;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */