* {
  padding: 0px;
  margin: 0px;
}

.main {
  min-height: 650px;
}
.main .background-image {
  position: absolute;
  width: 100%;
  height: 650px;
  background-position: no-repeat;
  background-size: cover;
  z-index: -1;
}
.main__menu {
  position: absolute;
  font-size: 35px;
  right: 30px;
  top: 10px;
}
.main__name {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 170px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -455px linear-gradient(transparent, rgba(255, 255, 255, 0.4));
}
.main__TS {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 220px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -360px linear-gradient(transparent, rgba(255, 255, 255, 0.3));
}
.main__developer {
  position: absolute;
  font-size: 36px;
  right: 30px;
  top: 270px;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-reflect: above -260px linear-gradient(transparent, rgba(255, 255, 255, 0.4));
}
.main__bar {
  display: none;
}

.sectionA {
  min-height: 600px;
}
.sectionA__nav {
  position: relative;
  background-color: #A9D0C9;
  width: 100%;
  height: 60px;
}
.sectionA__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.sectionA__navmenu {
  position: absolute;
  font-size: 35px;
  right: 30px;
  top: 10px;
}
.sectionA__main {
  text-align: justify;
  margin: 25px;
  font-size: 17px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sectionA__mainimg {
  display: flex;
  float: right;
  height: 120px;
  width: 120px;
}
.sectionA__TSTitle {
  margin: 15px;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}
.sectionA__TS {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "a a" "b c" "d e";
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.sectionA #techstack-header {
  grid-area: a;
}
.sectionA #git-img {
  grid-area: b;
}
.sectionA #js-img {
  grid-area: c;
}
.sectionA #sass-img {
  grid-area: d;
}
.sectionA #java-img {
  grid-area: e;
}
.sectionA__TSIMG {
  border: solid 2px #5BA195;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #282a2d;
}
.sectionA__TSIMG:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.sectionB__nav {
  position: relative;
  background-color: #A9D0C9;
  width: 100%;
  height: 60px;
}
.sectionB__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.sectionB__navmenu {
  position: absolute;
  font-size: 35px;
  right: 30px;
  top: 10px;
}
.sectionB__projects {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.sectionB__projectsimg {
  width: 300px;
  height: 200px;
}

.sectionC {
  min-height: 630px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.sectionC__nav {
  position: relative;
  background-color: #A9D0C9;
  width: 100%;
  height: 60px;
}
.sectionC__navabout {
  position: absolute;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.sectionC__navmenu {
  position: absolute;
  font-size: 35px;
  right: 30px;
  top: 10px;
}
.sectionC #mugshot {
  display: none;
}
.sectionC__form {
  background-color: #5BA195;
  width: 280px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  flex-direction: column;
}
.sectionC .inputbox {
  width: 200px;
}
.sectionC button:hover {
  cursor: pointer;
}
.sectionC .contact-icons {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sectionC .contact-icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.sectionC #linkedin-img:visited {
  color: black;
}

@media screen and (min-width: 1048px) {
  .main__menu {
    display: none;
    color: transparent;
  }
  .main__bar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: transparent;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    justify-content: flex-end;
    align-items: center;
  }
  .main__nav-item {
    margin: 0 30px;
    text-decoration: none;
    font-weight: bold;
  }
  .main__nav-item:visited {
    color: black;
  }
  .main__name {
    font-size: 60px;
  }
  .main__TS {
    font-size: 60px;
  }
  .main__developer {
    font-size: 60px;
  }

  .sectionA__navmenu {
    display: none;
  }
  .sectionA__main {
    display: flex;
    font-size: 25px;
  }
  .sectionA__mainabout {
    margin: 55px 0 0 50px;
    width: 650px;
    height: 300px;
  }
  .sectionA__TS {
    width: 300px;
    height: 300px;
    align-items: center;
    justify-items: center;
  }
  .sectionA__TSIMG {
    font-size: 60px;
    height: 70px;
  }
  .sectionA #techstack-header {
    font-size: 40px;
  }

  .sectionB__navmenu {
    display: none;
  }
  .sectionB__projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sectionC__navmenu {
    display: none;
  }
  .sectionC #mugshot {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px black;
  }
}