@import "../abstracts/variables";

@mixin TSBORDER {
  border: solid 2px black;
  border-radius: 5px;
}

.sectionA { 
  min-height: 600px;
  
  &__main {
    text-align: justify;
    margin: 25px;
    font-size: 17px;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  &__mainimg {
    display: flex;
    float: right;
    height: 120px;
    width: 120px;
    
  }

  &__TSTitle {
    margin: 15px;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
  }

  &__TS {
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g";
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    gap: 20px;
  }

    #techstack-header{
      grid-area: a;
    }

    #git-img {
      grid-area: b;
    }

    #js-img {
      grid-area: c;
    }

    #sass-img {
      grid-area: d;
    }

    #java-img {
      grid-area: e;
    }

    #jquery-img {
      grid-area: f;
    }

    #nodejs-img {
      grid-area: g;
    }

    &__TSIMG {
    @include TSBORDER();
    box-shadow: 0 0 5px 2px #282a2d;
    }

  //  be able to click on image that leads to a project using that program
    &__TSIMG:hover {
    transform: scale(1.2);
    cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
  .sectionA {
    
    &__main {
      font-size: 21px;
    }
  }
}

