@import "../abstracts/variables";

@mixin TSBORDER {
  border: solid 2px $secondary-color;
  border-radius: 5px;
}

.sectionA { 
  min-height: 600px;
  
  &__main {
    text-align: justify;
    margin: 25px;
    font-size: 17px;
    font-family: $primary-font;
    color: $third-color;
  }

  &__TSTitle {
    margin: 15px;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
  }

  &__TS {
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g";
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    gap: 20px;
  }

    #techstack-header{
      grid-area: a;
    }

    #git-img {
      grid-area: b;
    }

    #js-img {
      grid-area: c;
    }

    #sass-img {
      grid-area: d;
    }

    #java-img {
      grid-area: e;
    }

    #jquery-img {
      grid-area: f;
    }

    #nodejs-img {
      grid-area: g;
    }

    &__TSIMG {
    @include TSBORDER();
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px 2px #282a2d;
    transition: width 2s, height 2s, background-color 4s, transform 2s;
    }

  //  be able to click on image that leads to a project using that program
    &__TSIMG:hover {
    // transform: scale(1.2);
      cursor: pointer;
      transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
  .sectionA {
    
    &__main {
      font-size: 21px;
    }

    &__TSIMG {
      width: 70px;
      height: 70px;
    }
  }
}

@media screen and (min-width: 1048px) {
  .sectionA {

    &__main {
      display: flex;
      font-size: 21px;
    }

    &__main-bio {
      margin: 55px 0 0 50px;
      width: 650px;
      height: 300px;
    }

    &__TS {
      margin-top: 30px;
      width: 300px;
      height: 300px;
      align-items: center;
      justify-items: center;
    }

    #techstack-header {
      font-size: 35px;
    }
  }
}

