@import "../abstracts/variables";


.sectionC {
  min-height: 630px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
 
    #mugshot {
      display: none;
    }
  
    &__form {
      background-color: black;
      // display: grid;
      width: 280px;
      height: 300px;
      justify-content: center;
      align-items: center;
      margin: 40px;
      padding: 20px;
      border-radius: 20px;
      font-family: $primary-font;
      box-shadow: 1px 1px 1px 1px ;
      display: flex;
      flex-direction: column;
      color: $primary-color;
      gap: 5px;
      font-family: $primary-font;
    }
    
      .inputbox {
        width: 200px;
      }

      button:hover {
        cursor: pointer;
      }
    
  .contact-icons {
    margin-top: 20px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    gap: 10px
  }

  .contact-icons:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

    #linkedin-img:visited {
      color: black;
  }
}