@import "../abstracts/variables";

@mixin landingpage-headers {
  position: absolute;
  font-weight: bold;
  font-family: $primary-font;
  color: $primary-color;
  font-size: 36px;
}

.main {
  min-height: 650px;
  // position: relative;

  .background-image {
    position: absolute;
    width: 1400px;
    height: 650px;
    // background-position: no-repeat;
    // background-size: cover;
    z-index: -1;
  }

  &__name-heading {
    @include landingpage-headers();
    font-size: 36px;
    right: 30px;
    top: 170px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 1s;
  }

  &__traineesoftware-heading {
    @include landingpage-headers();
    font-size: 36px;
    right: 30px;
    top: 220px;
  }

  &__developer {
    @include landingpage-headers();
    font-size: 36px;
    right: 30px;
    top: 270px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    
    &__name-heading {
      font-size: 50px;
    }

    &__traineesoftware-heading {
      font-size: 50px;
    }

    &__developer {
      font-size: 50px;
    }
  }
} 

@media screen and (min-width: 1048px) {
  .main {
    
    &__name-heading {
      font-size: 60px;
    }

    &__traineesoftware-heading {
      font-size: 60px;
      top: 230px;
    }

    &__developer {
      font-size: 60px;
      top: 290px;
    }
  }
}