@import "../abstracts/variables";

@mixin nav-bar {
  position: relative;
  background-color: black;
  width: 100%;
  height: 60px;
}

@mixin nav-heading {
  position: absolute;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 40px;
  color: $primary-color;
}

@mixin nav-menu-icon {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 10px;
  color: $primary-color;
}

.main {

  &__menu {
    position: absolute;
    font-size: 30px;
    right: 30px;
    top: 15px;
    color: $primary-color;
  }

  .nav {
    display: none;
  }
}

.sectionA {
  // NAV BAR FOR ABOUT PAGE
  &__nav {
    @include nav-bar();
  }
    // NAV BAR TEXT
    &__navabout {
      @include nav-heading();
    }

    &__nav-links {
      display: none;
    }
    
    &__nav-items:visited {
      text-decoration: none;
    }
    // NAV BAR MENU LOGO
    &__navmenu {
      @include nav-menu-icon();
    }
}

.sectionB {

  // NAV BAR FOR PROJECTS PAGE

  &__nav {
    @include nav-bar();
  }

    // NAV BAR TEXT
    &__navabout {
      @include nav-heading();
    }

    // NAV BAR MENU LOGO
    &__navmenu {
      @include nav-menu-icon();
    }
}

.sectionC { 

  &__nav {
    @include nav-bar();
  }

    // NAV BAR TEXT
    &__navabout {
      @include nav-heading();
    }

    // NAV BAR MENU ICON
    &__navmenu {
      @include nav-menu-icon();
    }

}

@media screen and (min-width: 768px) {
  .main {

    &__menu {
      display: none;
      color: transparent;
    }
    
    .nav {
      display: flex;
      position: absolute;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      background-color: transparent;
      font-family: $primary-font;
      justify-content: flex-end;
      align-items: center;
      color: white;
      text-decoration: none;
  
      &__item {
        font-size: 16px;
        margin: 0 30px;
        text-decoration: none;
        font-weight: bold;
        color: white;
      }

    a {
      text-decoration: none;
      }
    }
  }

  .sectionA {

    &__menu-icon {
      display: none;
    }

    &__nav-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 30px;
      padding-top: 20px;
      gap: 60px;
      color: white;
    }

    &__nav-items {
      text-decoration: none;
      font-size: 16px;
      font-family: $primary-font;
      font-weight: bold;
      color: $primary-color;
    }

    &__nav-items:visited {
      color: $primary-color;
    }
  }
  .sectionB {
    &__menu-icon {
      display: none;
    }
  }

  .sectionC {
    &__menu-icon {
      display: none;
    }
  }
}

@media screen and (min-width: 1048px) {
  .sectionB {

    &__menu-icon {
      display: none;
    }
  }

  .sectionC {

    &__menu-icon {
      display: none;
    }

  }
}



