// Colors

$primary-color: #F0FFFC;
$secondary-color: #A9D0C9;
$tertiary-color: #5BA195;
// Font

$primary-font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;