// Colors

$primary-color: #F0FFFC;
$secondary-color: black;
// Font

$primary-font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


* {
  padding: 0px;
  margin: 0px;
}